body {
    font-family: Arial;
}

#main-heading {
    text-align: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 150px 100px 120px 140px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todo-input,
#todo-date {
    font-size: 15px;
    padding: 10px 5px;
}

.btn-delete {
    background-color: rgb(124, 11, 11);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
}

.btn-edit {
    background-color: rgb(66, 10, 95);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
}

.btn-todo {
    background-color: rgb(5, 119, 19);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}

.btn-update {
    background-color: rgb(16, 66, 184);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}

/* .btn-sort {
    background-color: rgb(4, 170, 153);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
} */

#todo-priority {
    padding: 10px;
    font-size: 15px;
}

#todo-actions {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}